<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/style.css') }}">
    <title>New Age Media</title>
  </head>
  <body>

    <header>
      <h1>Social Media</h1>
    </header>
    <div class="form-style-6" id="myForm">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="user-error">
        {{ messages[0] }}
        </div>
      {% endif %}
      {% endwith %}
        <form action="{{url_for('auth.login')}}" method="POST">
            <h1>User Login</h1>
            <!-- <h2>Username:</h2> -->
            <input type="text" placeholder="Username..." class="username" name="Username" required />

            <!-- <h2>Password:</h2> -->
            <input type="password" placeholder="Password..." class="password" name="Password" required />

            <button type="submit" class="btn">Send</button>
        </form>
    </div>

    <a href="{{url_for('home')}}"><button type="submit" class="backbtn">Return to Home Page</button></a>

  </body>
</html>