{% extends "base/base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/style.css') }}">
    <title>New Age Media</title>
{% endblock %}
{% block body %}
    <header>
      <h1>{{ActiveUser}}'s New Age Media</h1>
    </header>

    <br><br>
    <div class="chat-popup" id="myForm">
        <form action="/privateSearchUser" method="POST" class="form-container">
            <h2>Private Messages</h2>
            <div contenteditable="false" placeholder="The live-feed will display here" class="livefeed" readonly="true">{%for PrivateMessage in msgs%} <p> {{PrivateMessage['fromID']}} - {{PrivateMessage['time']}} - {{PrivateMessage['message']}} </p> {%endfor %}</div>
            
            <h4>Type New Message Below:</h4>
            <!-- <textarea placeholder="Type message..." class="msg" name= "MSG" required></textarea> -->
            <input type="text" placeholder="To User Name..." class="msg" name="toID" required />
            <input type="text" placeholder="Type message..." class="msg" name="Msg" required />

            <button type="submit" class="btn">Send</button>
        </form>
    </div>

    <a href="{{url_for('privateSearchUser')}}"><button type="connect" class="backbtn">Connect to Feed</button></a>
    {% if current_user.is_authenticated %}
    <a href="{{url_for('homeProfile')}}"><button type="submit" class="backbtn">Return to Home Page</button></a>
    {% endif %}
    {% if not current_user.is_authenticated %}
    <a href="{{url_for('home')}}"><button type="submit" class="backbtn">Return to Home Page</button></a>
    {% endif %}

{%endblock %}
</html>
