
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/style.css') }}">
        <title>New Age Media</title>
    </head>

    <body>
        <header>
        <h1>{{ActiveUser}}'s New Age Media</h1>
        </header>

        <br><br>
        <div class="form-style-6" id="myForm">
            <form action="/privateSearchUser/{{userID}}" method="POST">
                <h1>Private Messages</h1>
                <div contenteditable="false" placeholder="The live-feed will display here" class="livefeed" readonly="true">
                    {%for msg in msgs%} 
                    <p> {{msg}} </p> 
                    {%endfor %}
                </div>
                <input type="text" placeholder="Type message..." class="msg" name="Msg" required />

                <button type="submit" class="btn">Send</button>
            </form>
        </div>

        <a href="/privateSearchUser/{{userID}}"><button type="connect" class="backbtn">Connect to Feed</button></a>
        <a href="{{url_for('privateconvo')}}"><button type="connect" class="backbtn">Go back to all DMs</button></a>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('homeProfile')}}"><button type="submit" class="backbtn">Return to Home Page</button></a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="{{url_for('home')}}"><button type="submit" class="backbtn">Return to Home Page</button></a>
        {% endif %}
    </body>
</html>
