<!-- {% extends "base/base.html" %}
{% block head %} -->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/style.css') }}">
        <title>New Age Media</title>
    </head>
<!-- {% endblock %}
{% block body %} -->
    <body>
        <header>
        <h1>New Age Media</h1>
        </header>

        <br></br><br></br>
        <div class="form-style-7">
            <div class="left-div">
                <h1> Welcome to New Age Media! </h1>
                <h1> We are currently under site construction... the only fuctioning part is Live-Chat</h1>
                <h1> Finish date tbd... Enjoy Live-Chat! </h1>
            </div>


            <!-- <section> Welcome to New Age Media! </section><br>
                <section> We are currently under site construction... the only fuctioning part is Live-Chat</section> <br>
                <section> Finish date tbd... Enjoy Live-Chat! </section><br> -->
            
            <div class="right-div">
                <a href="{{url_for('auth.login')}}"><button type="Login" class="loginbtn">Login</button></a>
                <a href="{{url_for('livechat')}}"><button type="Login" class="livechatbtn">Live-Chat</button></a>
                <a href="{{url_for('auth.createuser')}}"><button type="Create_User " class="createbtn">Create User</button></a>
            </div>
        </div>
    </body>
<!-- {% endblock %} -->
</html>