<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/style.css') }}">
    <title>New Age Media</title>
  </head>
  <body>

    <script>
        
    </script>

    <header>
      <h1>New Age Media</h1>
    </header>

    <br><br>
    <section> Welcome to New Age Media! </section><br>
    <section> We are currently under site construction... the only fuctioning part is Live-Chat</section> <br>
    <section> Finish date tbd... Enjoy Live-Chat! </section><br>
    <br><br><br><br>
    
    <button type="Login" class="loginbtn">Login</button>
    <a href="livechat"><button type="Login" class="livechatbtn">Live-Chat</button></a>
    <button type="Create_User " class="createbtn">Create User</button>

  </body>
</html>
