<!-- {% extends "base/base.html" %}
{% block head %} -->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/style.css') }}">
        <title>New Age Media</title>
        <script type="text/javascript">
            function date(){
                var date1 = new Date();
                var day = date1.getDate();
                var month = date1.getMonth();
                var year = date1.getFullYear();
                document.write((month+1) + "-" + day + "-" + year);
            }
        </script>
    </head>
<!-- {% endblock %}
{% block body %} -->
    <body>
        <header>
        <h1>{{ActiveUser}}'s New Age Media</h1>
        </header>

        <br></br><br></br>
        <div class="form-style-7">
            <div class="left-div">
                <h1> Welcome to New Age Media!</h1>
                <h1> Date: <script type="text/javascript">date();</script></h1>
                <h1> You can create private chats in the DM's page or access the global Live-Chat</h1>
                <h1> Finished to final demonstration</h1>
            </div>


            <!-- <section> Welcome to New Age Media! </section><br>
                <section> We are currently under site construction... the only fuctioning part is Live-Chat</section> <br>
                <section> Finish date tbd... Enjoy Live-Chat! </section><br> -->
            
            <div class="right-div">
                <a href="{{url_for('privateconvo')}}"><button type="Login" class="loginbtn">DM's</button></a>
                <a href="{{url_for('livechat')}}"><button type="Login" class="livechatbtn">Live-Chat</button></a>
                <button onclick="makeSure()" type="Login" class="createbtn">Logout</button>
                <!-- <a href="{{url_for('auth.logout')}}"><button onclick="makeSure()" type="Login" class="createbtn">Logout</button></a> -->

                <script>
                    function makeSure(){
                        var txt;
                        if (confirm("Are you sure you want to logout?"))
                        {
                            location.href="{{url_for('auth.logout')}}"
                        }
                        else
                        {

                        }
                    }
                </script>
            </div>
        </div>
    </body>
<!-- {%endblock %} -->
</html>
