{% extends "base/base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/style.css') }}">
    <title>New Age Media</title>
{% endblock %}
{% block body %}
    <header>
      <h1>{{ActiveUser}}'s New Age Media</h1>
    </header>

    <br><br>
    <section> Welcome to New Age Media {{ActiveUser}}!</section><br>
    <section> We are currently under site construction... the only fuctioning part is Live-Chat</section> <br>
    <section> Finish date tbd... Enjoy Live-Chat! </section><br>
    <br><br><br><br>
    
    <a href="privatemessage"><button type="Login" class="loginbtn">DM's</button></a>
    <a href="{{url_for('main.livechat')}}"><button type="Login" class="livechatbtn">Live-Chat</button></a>
    <a href="{{url_for('auth.logout')}}"><button type="Login" class="createbtn">Logout</button></a>

{%endblock %}
</html>
