<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='livechat/style.css') }}">
    <title>New Age Media</title>
  </head>
  <body>

    <header>
      <h1>Social Media</h1>
    </header>

    <section>
        <!-- Nothing in here yet -->
    </section>

    <div class="chat-popup" id="myForm">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="user-error">
          {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
      {% endif %}
      {% endwith %}
        <form action="/createuser" method="POST" class="form-container">
            <h2>User Creation</h2>
            <h4>Username:</h4>
            <input type="text" placeholder="Username..." class="username" name="Username" required />

            <h4>Password:</h4>
            <input type="text" placeholder="Password..." class="password" name="Password" required />

            <button type="submit" class="btn">Send</button>
        </form>
    </div>

    <a href="home"><button type="submit" class="backbtn">Return to Home Page</button></a>

  </body>
</html>